{% extends 'generic/object.html' %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Bobinas</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">ID Fibra</th>
              <td>{{ object.id }}</td>
            </tr>
            <tr>
              <th scope="row">Modelo</th>
              <td>{{ object.modelo }}</td>
            </tr>
            <tr>
              <th scope="row">Cabo</th>
              <td>{{ object.quantidade_fibras }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/tags.html' %}
    </div>
    <!--Detalhes começa aqui-->
    <div class="col col-md-6">
        <div class="card">
          <h5 class="card-header">Detalhes</h5>
          <div class="card-body">
            <table class="table table-hover attr-table">
              <tr>
                <th scope="row">Fornecedor</th>
                <td>{{ object.nome_fornecedor }}</td>
              </tr>
              <tr>
                <th scope="row">Lote</th>
                <td>{{object.lote_cabo }}</td>
              </tr>
              <tr>
                <th scope="row">Status da Bobina</th>
                <td>{{object.tipo_bobina }}</td>
              </tr>
              <tr>
                <th scope="row">Metragem Inicial/th>
                <td>{{object.metragem_inicial }}</td>
              </tr>
              <tr>
                <th scope="row">Metragem Final/th>
                <td>{{object.metragem_final }}</td>
              </tr>
              <tr>
                <th scope="row">Total Disponível/th>
                <td>{{object.total_estoque }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
  </div>
{% endblock content %}