{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Ordem de Serviço</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Código</th>
              <td>{{ object.ordem_de_servico }}</td>
            </tr>
            <tr>
                <th scope="row">Data Criação</th>
                <td>{{ object.created }}</td>
            </tr>
            <tr>
              <th scope="row">Arquivo</th>
              <td>{{ object.imagem_OS }}</td>
          </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">Requisições Associadas</h5>
        <div class="card-body table-responsive">
          {% render_table fibrarequisitada_table %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}